/* gallery page -------------------------------------------------------------- */

/* Make the container full width and height and allow flex items to wrap */

 @keyframes skewIntro{
   from{
      transform: skew(0deg, 20deg);
      margin-top: 20%;
      opacity: 0;
   }

   to{
      transform: skew(0deg, 0deg);
      margin-top: 0;
      opacity: 1;
   }
 }

 .nameListWrap{
    min-height: 100vh;
    display: grid;
    padding: 5vw 0vw;
    place-items: center;
 }

 .nameListWrap > h1{
    width: 70%;
    text-align: left;
    margin: 0;
    height: min-content;
 }

 .nameList{
   columns: 3;
   width: 70%;
   margin: auto;
   text-align: left;
   margin-top: 0;
 }

 .nameLink{
   display: block;
   line-height: 3;
 }

 .galleryWrap{
   width: 100vw;
   display: flex;
   flex-wrap: wrap;
   border-bottom: 1px solid black;
   /* animation: skewIntro 1.5s ease-in-out forwards; */
 }
 
 .spacer{
   min-height: 45vh;
   display: inline-block;
   flex-grow: 1;
   flex-shrink: 10;
   border: 1px solid var(--black);
   flex-basis: 15vw;
   transition: all 1s ease-in-out;
 /*   transform: skewX(10deg); */
 }
 
 .sm{
    flex-basis: 6vw;
 }
 
 .md{
     flex-grow: 6!important;
 }

 .lg{
   flex-grow: 20!important;
   flex-basis: 23vw;
}

.textSpacer{
   box-sizing: border-box;
   flex-grow: 8!important;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   flex-basis: 35vw;
}

.textSpacer > p, .textSpacer > h1{
   width: 75%;
   margin: auto;
}

.glitchSpacer{
   flex-basis: 12vw;
}

.posterWrap{
   cursor: pointer;
   flex-shrink: 0;
   flex-grow: 0;
   flex-basis: 200px;
   min-height: 45vh;
   display: inline-block;
   border: 1px solid var(--black);
   transition: all 1s ease-in-out;
}

.nonHover{
   opacity: 1;
   transition: opacity .5s ease-in-out;
}

.posterWrap > img{
   width: 100%;
   height: auto;
   object-fit: cover;
   height: 100%;
}

@media (hover: hover) {
   .posterWrap:hover{
      flex-basis: 24vw;
   }
}

@media (max-width: 1165px) {
   .sm{
      flex-basis: 10vw;
   }

   .md{
      flex-basis: 15vw;
   }

   .textSpacer{
      flex-basis: 40vw;
   }
}

@media (max-width: 1078px) {
   .sm{
      flex-basis: 10vw;
   }

   .md{
      flex-basis: 20vw;
   }

   .lg{
      flex-basis: 25vw;
   }

   .textSpacer{
      flex-basis: 40vw;
   }
}


@media (max-width: 966px) {
   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 27vw;
      }
    }

    .spacer5{
      flex-basis: 18vw;
   }

   .spacer4{
      flex-basis: 5vw;
   }
}

@media (max-width: 895px) {
   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 27vw;
      }
    }

    .textSpacer{
       flex-basis: 45vw;
    }

    .spacer4{
      flex-basis: 18vw;
   }
}

@media (max-width: 868px) {

   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 32vw;
      }
    }
    
    .spacer2{
       flex-basis: 20vw;
    }

    .md{
       flex-basis: 20vw;
    }

    .lg{
       flex-basis: 30;
    }

    .spacer4{
      flex-basis: 18vw;
   }

   .spacer6, .spacer9{
      flex-basis: 35vw;
   }

   .spacer7{
      flex-basis: 30vw;
   }

   .spacer8{
      flex-basis: 5vw;
   }
}

@media (max-width: 868px) {

   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 32vw;
      }
    }
    
   .spacer3{
      flex-basis: 35vw;
   }
}

@media (max-width: 815px) {

   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 32vw;
      }
    }
    
   .spacer4{
      flex-basis: 12vw;
   }
}

@media (max-width: 728px) {

   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 38vw;
      }
    }
    
    .textSpacer{
       flex-basis: 55vw;
    }

    .spacer4{
      flex-basis: 18vw;
   }

   .spacer9{
      flex-basis: 5vw;
   }

   .spacer6{
      flex-basis: 20vw;
   }

   .spacer5{
      flex-basis: 3vw;
   }

   .spacer8{
      flex-basis: 20vw;
   }

   .lastSpacer{
      flex-basis: 20vw;
   }
}

@media (max-width: 695px) {

   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 40vw;
      }
    }

    .spacer5{
       flex-basis: 0vw;
    }

    .spacer7{
       flex-basis: 25vw;
    }

    .spacer9{
      flex-basis: 50vw;
   }

   .lastSpacer{
      flex-basis: 10vw;
   }
}

@media (max-width: 680px) {

   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 40vw;
      }
    }

    .textSpacer{
       flex-basis: 80vw;
    }

    .spacer3{
       flex-basis: 25vw;
    }

    .spacer8{
       flex-basis: 28vw;
    }

    .spacer9{
      flex-basis: 25vw;
   }

   .lastSpacer{
      flex-basis: 4vw;
   }
}

@media (max-width: 590px) {

   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 45vw;
      }
    }

    .sm{
       flex-basis: 5vw;
    }

    .md{
       flex-basis: 12vw;
    }

    .lg{
      flex-basis: 15vw;
   }

    .spacer3, .spacer5{
       flex-basis: 40vw;
    }

    .spacer7{
       flex-basis: 15vw;
    }

    .spacer8{
       flex-basis: 18vw;
    }

    .spacer9{
       flex-basis: 10vw;
    }

    .lastSpacer{
       flex-basis: 25vw;
    }

    .nameList{
       columns: 2;
    }
}

@media (max-width: 515px) {

   @media (hover: hover) {
      .posterWrap:hover{
         flex-basis: 50vw;
      }
    }

    .sm{
       flex-basis: 5vw;
    }

    .md{
       flex-basis: 5vw;
    }

    .lg{
      flex-basis: 35vw;
   }

   .spacer4{
      flex-basis: 35vw;
   }

   .spacer5{
      flex-basis: 15vw;
   }

   .lastSpacer{
      flex-basis: 35vw;
   }

   .posterWrap{
      flex-basis: 150px;
      min-height: 30vh;
   }

   .spacer{
      min-height: 30vh;
   }

   .textSpacer{
      min-height: 40vh;
   }
}