/* Set variables */

:root{
   --black: #241f21;
   --white: #f7f7f7;
   --aqua: #8af5f2;
   --blue: #5c08ff;
   --green: #46F498;
   --yellow: #f5eb4a;
   --border: 1px solid var(--black);
}

/* landing page styles ------------------------------------------- */
#landing{
   display: flex;
   flex-direction: row;
   height: 100vh;
   border-bottom: 3px solid var(--black);
}

#landing-content{
   margin: auto;
}

#landing-animation{
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-height: 60vh;
}

#landing-logo{
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-height: 18vh;
   margin-top: 4vw;
}

.concept{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 3px solid var(--black);
  box-sizing: border-box;
  justify-content: center;
  margin-top: 10vh;
}

canvas {
  display: block;
}

.column-1{
  /* width: min-content; */
  /* border-right: 3px solid var(--black); */
  width: 45vw;
}

.conceptImg{
  width: 100%;
}

.concept-text:first-child{
}

.conceptImgWrap{
  width: 100%;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0vh;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.concept-text{
   width: 58%;
   margin-left: auto;
   margin-right: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* border: 1px solid blue; */
}

.conceptTextWrap{
  width: 40vw;
}

[data-aos="conceptTextScroll"] {
   opacity: 0;
   transform: skewX(10deg);
   transition-property: transform, opacity;
}

[data-aos="conceptTextScroll"].aos-animate {
   opacity: 1;
   transform: skewX(0deg);
 }


@media screen and (max-width: 670px){ 
   #landing-animation{
      max-width: 95%;
   }   

   #landing{
     border: none;
   }
      
   .concept{
      flex-wrap: wrap;
      flex-direction: row-reverse;
      position: relative;
   }
      
   .column-1{
      width: 100vw;
   }

   .conceptImgWrap{
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    top: 0;
  }

  .conceptImg{
    height: 50%;
    width: auto;
    padding-bottom: 10vh;

  }

   .conceptTextWrap{
      width: 100vw;
      position: absolute;
      top: 0;
      background: var(--white);
      height: 40vh;
      z-index: -1;
      align-items: flex-start;
   }
      
   .concept-text{
      width: 75%;
      margin-left: auto;
      margin-right: auto;
   }
}

/* Slide animation ------------------------------------------- */

.slideImg{
  object-fit: contain;
  width: 100%;
}

.rectangleWrap{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
 }

 .noImgSquare{
   background: var(--black)!important;
 }
 
 .square1Wrap, .square2Wrap{
   /* change size of puzzle here -------- */
   width: 60vh;
   height: 60vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .square1Wrap > .quad2 > div > .slideImg, .square2Wrap > .quad4 > div > .slideImg{
   transform: rotate(180deg);
 }

 .square1Wrap > .quad3 > div > .slideImg, .square2Wrap > .quad2 > div > .slideImg{
  transform: rotate(90deg);
}

.square1Wrap > .quad4 > div > .slideImg, .square2Wrap > .quad1 > div > .slideImg{
  transform: rotate(-90deg);
}
 
 .square2Wrap{
   transform: rotate(-270deg);
 }
 
 .quad1, .quad2, .quad3, .quad4{
   display: flex;
   flex-wrap: wrap;
   width: 50%;
   height: 50%;
 }
 
 .quad2{
   transform: rotate(180deg);
 }
 
 .quad3{
   transform: rotate(-90deg);
 }
 
 .quad4{
   transform: rotate(90deg);
 }
 
 .quad1 > div,.quad2 > div, .quad3 > div,.quad4 > div{
   border: 2px solid var(--white);
   width: 50%;
   height: 50%;
   box-sizing: border-box;
   background: transparent;
 }
 
 .square1{
   animation: slideSquare1 28s ease-in-out infinite;
 }
 
 .square2{
   animation: slideSquare2 28s ease-in-out infinite;
 }
 
 .square4{
   animation: slideSquare4 28s ease-in-out infinite;
 }
 
 
 @keyframes slideSquare4{
   0%{
     transform: translate(0vh, 0vh);
   }
   7.692%{
     transform: translate(-100%, 0vh);
   }
   15.384%{
     transform: translate(-100%, 0vh);
   }
   23.076%{
     transform: translate(-100%, 0vh);
   }
   30.768%{
     transform: translate(-100%, 0vh);
   }
   38.46%{
     transform: translate(-100%, -100%);
   }
   46.152%{
     transform: translate(-100%, -100%);
   }
   53.844%{
     transform: translate(-100%, -100%);
   }
   61.536%{
     transform: translate(0vh, -100%);
   }
   69.228%{
     transform: translate(0vh, -100%);
   }
   76.92%{
     transform: translate(0vh, -100%);
   }
   84.612%{
     transform: translate(0vh, 0vh);
   }
   92.304%{
     transform: translate(0vh, 0vh);
   }
   100%{
     transform: translate(0vh, 0vh);
   }
 }
 
 @keyframes slideSquare2{
   0%{
     transform: translate(0vh, 0vh);
   }
   7.692%{
     transform: translate(0vh, 0vh);
   }
   15.384%{
     transform: translate(0vh, 0vh);
   }
   23.076%{
     transform: translate(0vh, 100%);
   }
   30.768%{
     transform: translate(0vh, 100%);
   }
   38.46%{
     transform: translate(0vh, 100%);
   }
   46.152%{
     transform: translate(-100%, 100%);
   }
   53.844%{
     transform: translate(-100%, 100%);
   }
   61.536%{
     transform: translate(-100%, 100%);
   }
   69.228%{
     transform: translate(-100%, 0vh);
   }
   76.92%{
     transform: translate(-100%, 0vh);
   }
   84.612%{
     transform: translate(-100%, 0vh);
   }
   92.304%{
     transform: translate(0vh, 0vh);
   }
   100%{
     transform: translate(0vh, 0vh);
   }
 }
 
 @keyframes slideSquare1{
   0%{
     transform: translate(0vh, 0vh);
   }
   7.692%{
     transform: translate(0vh, 0vh);
   }
   15.384%{
     transform: translate(0vh, 0vh);
   }
   23.076%{
     transform: translate(0vh, 0vh);
   }
   30.768%{
     transform: translate(100%, 0vh);
   }
   38.46%{
     transform: translate(100%, 0vh);
   }
   46.152%{
     transform: translate(100%, 0vh);
   }
   53.844%{
     transform: translate(100%, 100%);
   }
   61.536%{
     transform: translate(100%, 100%);
   }
   69.228%{
     transform: translate(100%, 100%);
   }
   76.92%{
     transform: translate(0vh, 100%);
   }
   84.612%{
     transform: translate(0vh, 100%);
   }
   92.304%{
     transform: translate(0vh, 100%);
   }
   100%{
     transform: translate(0vh, 0vh);
   }
 }
 
 @media only screen and (max-width: 1035px) {
   .square1Wrap, .square2Wrap{
     width: 50vh;
     height: 50vh;
   }
   
 }

 @media only screen and (max-width: 769px) {
   .square1Wrap, .square2Wrap{
     width: 35vh;
     height: 35vh;
   }
   
   .rectangleWrap{
     width: 35vh;
     margin-top: 60px;
   }
 }